.email-side-bar {
    background-color: #2e3349;
    border-right: 1px solid #474c62;
    position: fixed;
    width: 260px;
    .sidebar-holder {
      display: flex;
      flex-direction: column;
      .compose-button {
        display: flex;
        justify-content: center;
        padding-top: 17px;
        .main-compose-button {
          background-color: #7367ef;
          color: #fafdff;
          border: none;
          border-radius: 5px;
          width: 260px;
          height: 40px;
        }
      }

      .inbox-button {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        margin-top: 20px;
        padding: 7px;
        border-radius: 5px;
        .inbox-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .sent-button {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        padding-top: 10px;
        padding: 7px;
        border-radius: 5px;
        .sent-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .draft-button {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        padding-top: 10px;
        padding: 7px;
        border-radius: 5px;
        .draft-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .starred-button {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        padding-top: 10px;
        padding: 7px;
        border-radius: 5px;
        .starred-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .spam-button {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        padding-top: 10px;
        padding: 7px;
        border-radius: 5px;
        .spam-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .trash-button {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        padding-top: 10px;
        padding: 7px;
        border-radius: 5px;
        .trash-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .labels {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: #6d7286;
        font-weight: 500;
        font-size: 12px;
        padding-top: 20px;
        padding-left: 10px;
      }

      .personal-label {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        margin-top: 10px;
        //   padding: 10px;
        padding: 1px 10px 10px 10px;
        .personal-icon {
          .label-personal {
            height: 10px;
            width: 10px;
            background-color: #2cca7d;
            border-radius: 50%;
            display: inline-block;
          }
        }
        .label-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .company-label {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        //   padding: 10px;
        padding: 1px 10px 10px 10px;
        border-radius: 5px;
        .company-icon {
          .label-company {
            height: 10px;
            width: 10px;
            background-color: #6a5be8;
            border-radius: 50%;
            display: inline-block;
          }
        }
        .label-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .important-label {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        //   padding: 10px;
        padding: 1px 10px 10px 10px;
        border-radius: 5px;
        .important-icon {
          .label-important {
            height: 10px;
            width: 10px;
            background-color: #fd9c4d;
            border-radius: 50%;
            display: inline-block;
          }
        }
        .label-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }

      .private-label {
        display: flex;
        flex-direction: row;
        color: #a8adc0;
        padding: 1px 10px 10px 10px;
        border-radius: 5px;
        .private-icon {
          .label-private {
            height: 10px;
            width: 10px;
            background-color: #ee465d;
            border-radius: 50%;
            display: inline-block;
          }
        }
        .label-text {
          padding-left: 10px;
          font-weight: 500;
          color: #a8adc0;
          padding-top: 2px;
        }
      }
    }
  }