.invoice-preview {
  background-color: transparent;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 50px;
  .invoice-form,
  .invoice-operation {
    padding-top: 20px;
    background-color: #2e3349;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    padding-bottom: 20px;
  }

  .invoice-form {
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .invoice-form-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .address {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 10px;
        .logo-holder {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          padding-left: 10px;
          .main-logo {
            width: 45px;
            height: 45px;
          }
          .company-name {
            color: #c9cdd9;
            font-weight: bold;
            font-size: larger;
            display: flex;
            align-items: center;
            padding-left: 7px;
          }
        }
        .adress-description {
          display: flex;
          flex-direction: column;
          text-align: left;
          padding-top: 35px;
          padding-left: 10px;
          p {
            color: #a6a9bc;
            margin-top: -15px;
            font-weight: 600;
          }
        }
      }

      .invoice-information {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        h5 {
          color: #c8cede;
        }
        div {
          padding-top: 20px;
          p {
            span {
              color: #a1a3b8;
              font-weight: 600;
            }
          }
          .due {
            margin-top: -10px;
          }
        }
      }
    }

    .invoice-form-information {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 10px;
      text-align: left;
      padding-top: 20px;
      .invoice-to {
        h6 {
          color: #c9cee2;
          padding-left: 10px;
        }
        p {
          padding-left: 10px;
          color: #a1a3b8;
          font-weight: 600;
          margin-top: -10px;
        }
        div {
          padding-top: 20px;
        }
      }

      .bill-to {
        h6 {
          color: #c9cee2;
          padding-left: 50px;
        }
        table {
          margin-right: 20px;
          tr {
            color: #a1a3b8;
            font-weight: 600;
            td {
              padding-left: 50px;
            }
          }
        }
      }
    }
    .table {
      // border-bottom: 1px solid #50566e;
      color: #c9cfdf;
      text-align: left;
      border: none;
    }

    .resualt {
      padding-right: 10px;
      table {
        margin-right: 20px;
        tr {
          color: #a1a3b8;
          font-weight: 600;
          td {
            padding-left: 50px;
          }
        }
      }
    }

    .invoice-form-footer {
      color: #a7acc0;
    }
  }

  // _____________________________________________________________

  .invoice-operation {
    width: 270px;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .invoice-operation {
    align-items: center;
    .send,
    .add {
      background-color: #7367f1;
      border: none;
      border-radius: 5px;
      width: 220px;
      height: 33px;
      color: white;
      font-weight: 600;
    }
    .download,
    .print,
    .edit {
      background-color: #3c4154;
      border: none;
      border-radius: 5px;
      width: 220px;
      height: 33px;
      color: #9ea2ae;
      font-weight: 600;
      margin-top: 10px;
    }
    .add {
      margin-top: 10px;
    }
  }
}
