.progress {
    background-color: #27475e;
    height: 8px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 22px;
    margin-bottom: 21px;
  .progress-done {
    opacity: 1;
    font-weight: bold;
  }
}
