.main-app {
  background-color: #24293c;
  .row-div {
    width: 100%;
    .content-col {
      background-color: transparent;
    }
  }
  .content-div {
    background-color: transparent;
    color: white;
    margin-left: 260px;
    min-height: 100vh;
  }
}
